<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788251907448-m46vdkjcsuoi6gduf2lpdecsds4fji25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788251907448-m46vdkjcsuoi6gduf2lpdecsds4fji25</string>
	<key>API_KEY</key>
	<string>AIzaSyDDaZ5BJbKqpxFNvRjq6WMSypwgBi92HsA</string>
	<key>GCM_SENDER_ID</key>
	<string>788251907448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentsurveysystem.mobileclient</string>
	<key>PROJECT_ID</key>
	<string>studentsurveysystem</string>
	<key>STORAGE_BUCKET</key>
	<string>studentsurveysystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788251907448:ios:285a2c0d683439a317648d</string>
	<key>DATABASE_URL</key>
	<string>https://studentsurveysystem.firebaseio.com</string>
</dict>
</plist>